<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=², initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sticky Notes V0</title>
</head>
<body>
    <nav class="tool-bar">
        <a href="/">Sticky Notes V 0.0</a>
        <a href="/new">Create Note</a>
    </nav>
